/* Add application styles & imports to this file! */
img{
  margin: auto;
  /* width: 100px;
  height: 100px; */
}
.lineheight{
  line-height: 10px;
}
.lineheight2{
  line-height: 10px;
}
.space{
  margin: 10px;
}
li{
  list-style-type: none;
  padding: 10px;
}
.card{
  min-height: 150px;
}
h1{
  font-weight: bold;
}
h2{
  font-size: 20px;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
 h2{
   font-size: 18px;
    font-weight: bold;
 }
 p{
   font-size: 12px;
 }
 .lineheight{
   line-height: 5px;
 }
 .lineheight2{
   line-height: 4px;
 }
}
@media only screen and (max-width: 800px) {
 h2{
   font-size: 18px;
    font-weight: bold;
 }
 p{
   font-size: 10px;
 }
 .lineheight{
   line-height: 2px;
 }
 .lineheight2{
   line-height: 4px;
 }
}