
  
    <h1>Who's getting Tidal?</h1>
    <div class="container space">
      <ul class="row">
        <li class="col-sm-6" *ngFor="let card of cards">
          <blade [customerDetails]="card"></blade>
        </li>
      </ul>
    </div>
    <form class="form-group">
      <label for="firstname">First Name</label>
      <input required maxlength=10 minlength=3 pattern="banana" ngModel name="firstName" #firstName="ngModel" id="firstname" class="form-control" (change)="log(firstName.errors)" type="text">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.required">Enter the valid First Name</div>
        <div *ngIf="firstName.errors.minlength">Min length not met</div>
        <div *ngIf="firstName.errors.pattern">Entered text is not a valid text</div>
      </div>

    </form>


      
 
    
   
  


  <div style="height:100px;width:100%" ></div>

